<h1>Cuenta de </h1><br>

<div>
    <article class="saldo">
        <p>Saldo actual</p>
    </article>
<button>Contactar con el gestor</button>
    <article>
        <label for="password">Contraseña actual</label><br>
        <input  type="password" id="password" placeholder="Contraseña"><br>
              <label for="new-password">Nueva contraseña</label><br>
        <input type="password" id="new-password" placeholder="Nueva contraseña"><br>
        <button  class="submit">Acceder</button>
    </article>
</div>

