*{
    --Fondo: rgb(240, 247, 247);
    background-color: var(--Fondo);

   --Font-color1: rgb(10, 10, 10);
   color: var(--Font-color);

   --Button:rgb(13, 150, 230);

   font-family: Ysabeau, sans-serif;
}

body{
    margin: 40px;
}