div{
    display: flex;
    margin: auto;
    justify-content:space-around
}

.carta-inicio {
    display: flex;
    /* box-sizing: border-box; */
    border: 2px solid rgb(104, 104, 104);
}

.carta-inicio:hover {
    display: flex;
    /* box-sizing: border-box; */
    border: 2px solid rgb(255, 255, 255);
cursor: pointer;
}

.carta-inicio:active {
    display: flex;
    /* box-sizing: border-box; */
    border: 2px solid rgb(255, 255, 255);
}


.fila-tabla>div {
    width: 20%;
}

.cabecera-tabla{
    font-weight: bold;
    font-size: 23px;
    margin: 12px;
}